body {
    font-size: 2em;
    background-color: white;
    color: black;
    font-family: 'Permanent Marker', cursive;
}

#header-nav{
    background-color: grey;
    padding: 1em;
    
}

.container {
    font-size: 2em;
    text-align: left;
    margin: auto;
    padding: 0em;
}


.ourmenu {
    font-size: 2em;
    margin: 0.7em;
    padding: 10px;
    text-align: center;

}
section {
    border: 1px solid black;
    margin: 10px;
    padding: 0px;
    background-color: grey;
}



h1 {
    text-align: center;
    font-size: 1.5em;
}

div {
    padding-top: 30px;
    margin: 0.6em;
    font-size: 1em;
}

/* for desktop view */
@media (min-width: 992px ) {
    

    .b1 {
        width: 31%;
        float: left;
    }
    .b2 {
        width: 31%;
        float: left;
    }
    .b3 {
        width: 31%;
        float: left;
    }
    
}

/* for tablet view */
@media (min-width: 768px) and (max-width: 991px) {
    

    .b1 {
        width: 47%;
        float: left;
    }
    .b2 {
        width: 47%;
        float: left;
    }
    .b3 {
        width: 96%;
        clear: left;
        float: left;
    }
    
}


/* for mobile view */
@media (max-width: 767px) {
    
    
} 